.main {
	width: 800px;
	height: 524px;
	border-style: solid;
	border-color: #ffffff;
    border-left-width: 5px;
    border-right-width: 1px;
    border-top-width: 1px;
	padding: 10px;
	margin-left: 52px;
	float: left;
	position: relative;
}

.main-about {
	width: 1130px;
	height: 524px;
	border-style: solid;
	border-color: #ffffff;
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 1px;
	padding: 10px;
	margin-left: 52px;
	float: left;
	position: relative;
}

.main-contact {
	width: 1130px;
	height: 524px;
	border-style: solid;
	border-color: #ffffff;
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 1px;
	padding: 10px;
	margin-left: 52px;
	float: left;
	position: relative;
}

.featured {
    width: 280px;
    height: 500px;
    border-style: solid;
    border-color: #ffffff;
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 1px;
    padding: 22px;
    float: left;
    clear: right;
    font-size: 90%;
    position: relative;
}

.footer {
	width: 1160px;
	padding: 5px;
	padding-left: 10px;
	border-style: solid;
	border-width: 5px;
	border-top-width: 2px;
	border-color: #ffffff;
	margin: 0 auto;
	clear: both;
	position: relative;
	box-sizing: border-box;
}

img.h-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
	position: relative;
}

ul.nav {
	list-style: none;
	padding: 13px;
	text-align: center;
	box-sizing: border-box;

}

ul.nav a:hover {
	border-bottom: 5px solid #ffff00;
	color: #ffff00;
}

ul.nav li {
	display: inline;
}

.nav {
	width: 1160px;
	border-style: solid;
	border-width: 5px;
	border-color: #ffffff;
	word-spacing: 50px;
	margin: 0 auto;
}

img.ymal-img {
	width: 200px;
	margin-left: 1px;
}

img.col-img {
	width: 350px;
	margin-left: 1px;
	float: left;
	padding-right: 10px;
}

img.col-img-next {
	width: 350px;
	margin-left: 1px;
	float: right;
	padding-top: 4px;
	padding-left: 10px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #ffff00;
}

body {
	font-family: "Arial", sans-serif;
	background-color: #262626;
	color: #f2f2f2;
	font-size: 97%;
}