.container {
	width: 1160px;
	margin: 0 auto;
}

.main {
	width: 800px;
	height: 524px;
	border-style: solid;
	border-color: #ffffff;
    border-left-width: 5px;
    border-right-width: 1px;
    border-top-width: 1px;
	padding: 10px;
	float: left;
	position: relative;
}

.main-about {
	width: 1130px;
	height: 310px;
	border-style: solid;
	border-color: #ffffff;
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 1px;
	padding: 10px;
	float: left;
	position: relative;
}

.about-header {
	line-height: 0.1;
	padding-top: 1px;
}

.about-body {
	margin-right: 150px;
}

.main-contact {
	width: 1130px;
	height: 300px;
	border-style: solid;
	border-color: #ffffff;
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 1px;
	padding: 10px;
	float: left;
	text-align: center;
	position: relative;
}

.featured {
    width: 280px;
    height: 500px;
    border-style: solid;
    border-color: #ffffff;
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 1px;
    padding: 22px;
    float: left;
    clear: right;
    font-size: 90%;
    text-align: center;
    position: relative;
}

.connect {
	line-height: 2;
}

.footer {
	width: 1160px;
	padding: 5px;
	padding-left: 10px;
	border-style: solid;
	border-width: 5px;
	border-top-width: 2px;
	border-color: #ffffff;
	text-align: center;
	margin: 0 auto;
	clear: both;
	position: relative;
	box-sizing: border-box;
}

img.h-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
	position: relative;
}

img.profile {
	width: 200px;
	float: left;
	padding: 5px;
	border-style: ridge;
	margin: 12px;
	position: relative;
}

ul.nav {
	list-style: none;
	padding: 13px;
	text-align: center;
	box-sizing: border-box;

}

ul.nav a:hover {
	border-bottom: 5px solid #ffff00;
	color: #ffff00;
}

ul.nav li {
	display: inline;
}

.nav {
	width: 1160px;
	border-style: solid;
	border-width: 5px;
	border-color: #ffffff;
	word-spacing: 50px;
	margin: 0 auto;
}

img.feat-img {
	width: 200px;
	margin-left: 1px;
}

img.por-img-1 {
	width: 200px;
	margin-left: 10px;
	float: left;
	padding-right: 10px;
}

img.por-img-2 {
	width: 200px;
	margin-left: 10px;
	float: left;
	clear: right;
	padding-right: 10px;
}

img.col-img-next {
	width: 350px;
	margin-left: 1px;
	float: right;
	padding-top: 4px;
	padding-left: 10px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #ffff00;
}

h1 {
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
	font-size: 3em;
}

h1 span {
	color: white;
	letter-spacing: -1px;
	background: rgba(0,0,0,0.7);
	padding: 20px;
	margin-left: 60px;
}

h1 span.spacer {
	padding: 1px 8px;
}

h2, h3 {
	padding-left: 10px;
}

table {
	width: 35%;
	border: none;
	border-collapse: collapse;
	margin: 0 auto;
}

table td {
	border-left: 1px solid #ffffff;
	text-align: center;
}

table td:first-child {
	border-left: none;
}

body {
	font-family: "Arial", sans-serif;
	background-color: #262626;
	color: #f2f2f2;
	font-size: 97%;
}